html {
  overflow-y: scroll;
}

.json {
   white-space: pre-wrap;
    width:90%;
    border: 0.05rem solid #caced7;
    border-radius: .2rem;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    line-height: 1.3;
    margin-bottom: 0.5rem;
    transition: border 0.1s linear;
    -webkit-transition: border 0.1s linear;
    -moz-transition: border 0.1s linear;

}
.json li {
    margin-top: 0rem;
}
.highlight {
    border-color: #5755d9;
}

#query {
    width: 100%;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    /* margin-right: 10%; */
}

#rocket{
    position: relative;
}

.form-select {
    max-width: 100px;
}

.form-group {
    margin-bottom: 0;
}
.inputs {
    margin-bottom: 0.5rem;
}

/* override pretty-json class to use spectre font instead of courier */
.node-content-wrapper {
    font-family: inherit;
}
